<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lemonlab.learnturkish.temp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.gms.ads.AD_MANAGER_APP"
                android:value="true"/>

        <activity android:name="com.lemonlab.learnturkish.temp.learnturkish.lemonlab.com.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <activity android:name="com.lemonlab.learnturkish.temp.learnturkish.lemonlab.com.RegistrationActivity">
        </activity>
        <activity android:name="com.lemonlab.learnturkish.temp.learnturkish.lemonlab.com.SubjectActivity">
        </activity>
        <activity android:name="com.lemonlab.learnturkish.temp.learnturkish.lemonlab.com.LearnListen">
        </activity>
        <activity android:name="com.lemonlab.learnturkish.temp.learnturkish.lemonlab.com.ListenQuiz">
        </activity>
        <activity android:name="com.lemonlab.learnturkish.temp.learnturkish.lemonlab.com.ResultActivity">
        </activity>
        <activity android:name="com.lemonlab.learnturkish.temp.learnturkish.lemonlab.com.ChatActivity">
        </activity>
    </application>

</manifest>